@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.671), hsla(0, 0%, 0%, 0.671)), url(img/procesador.webp);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.671), hsla(0, 0%, 0%, 0.671)), url(img/procesador.webp);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
}



.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
  
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: rgb(240, 236, 236);
    transition: all 500ms ease;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #582b7c;
}

.navbar ul {
    display: flex ;
    list-style: none;
}

div.container {
    padding-top: 75px;
}

h1{
    font-family: 'Raleway', sans-serif;
    color: antiquewhite;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: antiquewhite;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

div.adminImg {
    background: rgba(18, 203, 197, 0.425);
    border-radius: 200px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.adminImg img {
    opacity: 70%;
}

div.adminImg p {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
}