body{
    font-family: 'Roboto', sans-serif;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.671), hsla(0, 0%, 0%, 0.671)), url(img/procesador.webp);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.671), hsla(0, 0%, 0%, 0.671)), url(img/procesador.webp);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
}



.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
  
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: rgb(240, 236, 236);
    transition: all 500ms ease;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #582b7c;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul {
    display: flex ;
    list-style: none;
}

.navbar .submenu{
    background: rgb(14, 13, 13);
    box-shadow: 10px 10px 10x rgba(0, 0, 0, 0.2);
    display: none;
}
.navbar .submenu li a{
    line-height: 0px;
}
.navbar ul li a:hover +ul, .navbar .submenu:hover{
    display: block;
}



.header {
    height: 60vh !important;
    background: url(img/fondo.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9d58b1;
    color: #fff;
    text-decoration: none;
    background: #9d58b1;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}
.btn-home a{
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box img{
    
    text-align: center;
    border-radius: 0%;
    color: #ffff;
    background: #9d58b1;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3{
    font-size: 20px;
    color: #fff;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.abaut {
    background: #171717;
}
.price {
    background:  url(img/fondo2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contenedor{
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0 ;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
   transform: translate(0); 
}



.agregar-imagen{
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.contenedor-galeria .img-galeria{
    filter: grayscale(100%);
    transition: aa .3s ease;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-expert img{
    width: 80%;
    display: block;
    margin: auto;
}
.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 500;
}



.contenedor {
    padding: 195px;
    background: #1f1d1d;
}
.subtitulo {
    margin-bottom: 40px;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(245, 243, 243);
}

.expert {
    background:  url(img/fondo.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #ffff;
}

.socials a i{
    font-size: 1.1rem;
   transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(141, 71, 168)
}

.footer-botton{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-botton p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-botton span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.contenedor2 {
    display: flex;
    align-items: center;
  }

  .texto {
    flex: 1;

    margin: 20px; /* Centrar horizontalmente */
  }

  .imagen {
    flex: 1;
    text-align: right;
    margin: 20px; /* Centrar horizontalmente */
  }