body {
    
    font-family: 'comi', sans-serif;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.781), hsla(0, 0%, 0%, 0.781)), url(https://img.freepik.com/free-vector/realistic-mockup-empty-room-with-plasma-tv-flat-gray-wall-home-theater-system_1441-2365.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.781), hsla(0, 0%, 0%, 0.795)), url(https://img.freepik.com/free-vector/realistic-mockup-empty-room-with-plasma-tv-flat-gray-wall-home-theater-system_1441-2365.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 auto;
    max-width: 1200px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.table {
background-color: rgba(196, 196, 196, 0.87);
border-radius: 2%;
    
    
}
.img {
    width: 350px;
    height: 350px;
}
