
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    

    font-family: 'Roboto', sans-serif;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(271, 22%, 26%, 0.747), hsla(272, 24%, 14%, 0.747)), url(https://img.freepik.com/foto-gratis/plantilla-smartphone-elementos-negocios_23-2147986583.jpg?w=740&t=st=1693262600~exp=1693263200~hmac=a8789dbd188be1c4370d911805fae1b5ae01e3d7375e9a1797f6fde4e1620afd);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(47, 38, 54, 0.616), hsla(271, 22%, 19%, 0.747)), url(https://img.freepik.com/foto-gratis/plantilla-smartphone-elementos-negocios_23-2147986583.jpg?w=740&t=st=1693262600~exp=1693263200~hmac=a8789dbd188be1c4370d911805fae1b5ae01e3d7375e9a1797f6fde4e1620afd);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 auto;
    max-width: 1200px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.container{
    width: 400px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
                background-color: rgb(243, 220, 248);
}

.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container form input{
    display: none;
}

.container form .category{
    margin-top: 10px;
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
}

.category label{
    /* width: 100%; */
    /* height: 65px; */
    height: 145px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

/* label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
} */


#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#AMEX:checked ~ .category .amexMethod{
    box-shadow: 0px 0px 0px 1px #6064b6;
}


#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#AMEX:checked ~ .category .amexMethod .check{
    display: block;
}


label .imgName{
    display: flex;
    /* justify-content: space-between;
     */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.imgName span{
    /* margin-left: 20px; */
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}

img{
    width: 50px;
    height: auto;
}

.visa img{
    width: 80px;
    /* margin-left: 5px; */
}

.mastercard img{
    width: 65px;
}

.paypal img{
    width: 80px;
}

.AMEX img{
    width: 50px;
}

.check{
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.check i{
    font-size: 18px;
}

