@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

    body{
    background: url(tecnoventasfondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  min-height: 100vh;
	  margin: 0;
}

* {
    margin: 0;
	  padding: 0;
	  box-sizing: border-box;
}
.contenedor{
    
    padding: 30px 40px;
    
   
}
.formulario {
    background-color: #ffffff5f;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: overlay;
    width: 550px;
    position: absolute
}
h1 {
    text-align: center;
    color: #5b1753;
    font-size: 40px;
    font-family: 'Tektur', sans-serif;
    margin-bottom: 0px;
    margin-top: 20px;
}

select{
  font-family: 'Nunito',sans-serif;
  margin: 5px;
  color: white;
  background: #0c03032a;
  border: 2px solid #5b1c51;
  border-radius: 4px;
  font-size: 15px;
  width: 380px;
  padding: 10px;
  outline: 0;
}

select:focus{
  border-color: #9f3092;
}

option{
  background: black;
  font-family: 'Nunito', sans-serif;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"]
{
    margin: 5px;
    color: white;
    background: #0c03032a;
    border: 2px solid #5b1c51;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    width: 380px;
    padding: 10px;
    outline: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
	border-color: #9f3092;
}

.input-contenedor{
  margin-bottom: 20px;
}
.button{
    font-family: 'Tektur', sans-serif;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #c231b8;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
}
.button:hover{
	background: #5b1c51;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #9f3092;
    font-weight: 600;
}
.link:hover{
  color: white;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
    }
}